html *{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
body{
    background-color: #dee1b6;
}
li > a{
    color: white;
}
p{
    text-align: justify;
}
.card{
    background-color: #e1b866;
}
hr {
    height: 10px;
    background-color: #373B44;
}
.containervn {
display: flex;
align-items: center;
justify-content: center
}
.mvv {
font-size: 20px;
padding-left: 20px;
}
.card-img-top{
    display: block;
    margin-left: auto;  
    margin-right: auto;
    width: 50%;
}
.navbarBgColor{
    background-color: #BD5532;
}
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
  }
  .footerItem2{
      margin-left: 5px;
      margin-right: 5px;
  }
  .footerItem3{
      margin-top: 18px;
  }
/*Animation*/
.fading{
animation: fadeInAnimation ease 3s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}