html *{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
body{
    background-color: #dee1b6;
}
.navbarimg{
    background-color: #BD5532;
  }
  .navbarimg2{
    background-color: #BD5532;
  }
  .carrito{
    background-color: #BD5532;
    margin-right: 10px;
    margin-left: 10px;
  }
.active:hover{
    text-decoration: underline;
    text-decoration-color: aliceblue;
}
li > a{
    color: white;
}
p{
    text-align: justify;
}
.Titulo1{
    font-family: "Meddon", cursive;
    font-weight: 100;
}
.Titulo{
    font-family: "Meddon", cursive;
    font-weight: 400;
}
.row {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    align-items: center;
    justify-content: center;
  }
.container{
    background-color: #f0f8ff;
    border-radius: 10px;
}
.mvvimg{
    margin-top: 10px;
    margin-bottom: 10px;
}
  .row:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }
  
  .fading {
    transition: opacity 0.3s ease-in-out;
  }
  .fading:hover {
    opacity: 0.7;
  }
.Titulo2{
    font-family: "Meddon", cursive;
    font-weight: 100;
}
.cardLink{
    display: inline-block;
    margin: 0 10px;
    height: 35px;
    width: 35px;
    transition: transform 0.3s ease-in-out;
}
.cardLink:hover{
    transform: scale(1.2);
}
.card{
    background-color: #e1b866;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}
.card-title{
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size:x-large;
    margin-bottom: 10px;
}

.card-img-top{
    height: 280px;
    width: 278px;
    border-radius: 2%;
    margin-top: 2px;
    background-color: #f0f8ff;
    width: 100%;
    display: block;
}
.col{
    max-width: fit-content;
}
.mvvimg2{
    max-width: fit-content;
    margin-left: 30px;
}
.card-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f0f8ff;
    padding: 15px 10px;
    text-align: justify;
    font-weight: 400;
    font-size: large;
    margin: 15px 10px 15px 10px;
}
.card:hover{
    color: rgb(0, 0, 0);
    background-color: #1b1b32;
}
.card-body:hover{
    background-color: #73C8A9;
}

.btn-outline-light{
    color: white;
}
.containervn {
display: flex;
align-items: center;
justify-content: center
}
.mvv {
font-size: 20px;
padding-left: 20px;
}
.card-img-top{
    display: block;
    margin-left: auto;  
    margin-right: auto;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}
.navbarBgColor{
    background-color: #BD5532;
}
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
  }
  .footerItem2{
      margin-left: 5px;
      margin-right: 5px;
  }
  .footerItem3{
      margin-top: 18px;
  }

  .Titulo{
    font-weight: 700;
    font-size:xx-large;
    margin-block: 50px;
  }

  *h2{
    font-weight: 400;
    font-size:large;
    margin-top: 15px;
    margin-block: 50px;
  }

/*Animation*/
.fading{
animation: fadeInAnimation ease 3s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}
