html *{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

body{
    background-color: #dee1b6;
}
li > a{
    color: white;
}
p{
    text-align: justify;
}
.card{
    background-color: #e1b866;
}
hr {
    height: 10px;
    background-color: #373B44;
    }
.containervn {
display: flex;
align-items: center;
justify-content: center
}
.mvv {
font-size: 20px;
padding-left: 20px;
}
.card-img-top{
    display: block;
    margin-left: auto;  
    margin-right: auto;
    width: 50%;
}
/*Telefono*/
.navi{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "face"
    "insta"
    "tiktok";
}
.navi2{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "inicio"
    "contacto";
}
td.fitwidth{ width:1px}
/*Tablet*/
@media(max-width:1024px) and (min-width:900px){
    .navi{
        grid-template-columns: auto;
        grid-template-areas: 
        "face insta"
        "tiktok tiktok";
    }
    .navi2{
        grid-template-columns: auto;
        grid-template-areas: 
        "inicio inicio"
        "contacto contacto";
    }
}
/*Desktop*/
@media(min-width:900px){
    .navi{
        grid-template-columns: auto;
        grid-template-areas: 
        "face insta tiktok";
    }
    .navi2{
        grid-template-columns: auto;
        grid-template-areas: 
        "inicio contacto";
    }
}
/*Animation*/
.fading{
animation: fadeInAnimation ease 3s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}