html *{
    background-color: #DEE1B6;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
  }
  .containerAjo{
      margin: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #E1B866;
  }
  .navbarimg{
    background-color: #BD5532;
    position: relative;
    z-index: 1;
  }
  .navbarimg2{
    background-color: #BD5532;
    margin-left: 10px;
  }
  .carrito{
    background-color: #BD5532;
  }
.active:hover{
    text-decoration: underline;
    text-decoration-color: aliceblue;
}
  .container{
    padding: 20px;
    margin-top: 10px;
    background-color: #E1B866;
  }
  .mb-3, .form-label, h1, h4, h5{
    background-color: #E1B866;
  }
  .navbarBgColor{
      background-color: #BD5532;
  }
  .btn2{
    color: white;
  }
  .containerAjo{
      display: flex;
      justify-content: center;
  }
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
  }
  .footerItem2{
      margin-left: 5px;
      margin-right: 5px;
  }
  .footerItem3{
      margin-top: 18px;
  }
.border-info-subtle {
    border-color: #73C8A9!important;
}
.navbar-toggler-icon{
    background-color: #BD5532;
}
.mb-3{
    background-color: #E1B866;
}
.Titulo{
    font-family: "Meddon", cursive;
    font-weight: 400;
}
.containerGreen {
    background-color: #73C8A9;
    border-radius: 10px;
}
.vendidos{
    display: flex;
    justify-content: center;
}
.containerVendidos{
    display: flex;
    flex-direction: row;
    margin: 20px;
    background-color: #73C8A9;
    justify-content: center;
}
.card{
    margin: 8px;
    margin-top: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #373B44;
    position: relative;
}
.card .btn-primary {
    position: absolute; /* Establece la posición absoluta para el botón de "carrito" */
    bottom: 10px; /* Ajusta la distancia desde la parte inferior de la tarjeta */
    left: 50%; /* Centra el botón horizontalmente */
    width: 250px;
    transform: translateX(-50%); /* Ajusta el centrado horizontal */
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.card-title{
    display: flex;
    justify-content: center;
    background-color: #373B44;
    font-weight: bold;
    color: #DEE1B6;
}
.card-text{
    display: flex;
    text-align: justify;
    background-color: aliceblue;
    margin-bottom: 30px;
}
.btn, .bi{
    background-color: #BD5532;
    display: flex;
    justify-content: center;
}
.card-body{
    background-color: aliceblue;
    margin-bottom: 3px;
}
.card-img-top{
    background-color: aliceblue;
    margin-top: 3px;
}
